body{
    background-color: lavenderblush;
}
header{
    text-align: center;
    background-color: rgb(166, 201, 26);
    height: 30px;
    padding: 20px;
    font-size: 30px;
    margin-left: 450px;
    margin-right: 450px;
    margin-bottom: 40px;
    border-style: double;
    border-radius: 10px;

}
h2{
    text-align: right;
    background-color: brown;
    color: whitesmoke;
    margin-left: 1000px;
    border-radius: 10px;
}

#container{
    display: flex;

}
#container img{
    width: 300px;
    height: 180px;
    border-radius: 10px;
    margin-left: 40px;
    margin-right: 20px;
    margin-bottom: 20px;
}
.heading h3{
    color: rgb(133, 14, 68);
    font-size: 25px;
}
a {
    margin-right: 100px;
    margin-top: 120px;
}
.footer{
    height: 150px;
    text-align: center;
    background-color: aquamarine;
    border-style: solid;
    margin-left: 80px;
    margin-right: 80px;
    border-radius: 13px;
}
